@section styles{
    <link href="~/Scripts/dhtmlxScheduler/dhtmlxscheduler_custom.css" rel="stylesheet" />
    <link href="~/Content/Calender/calender.css" rel="stylesheet" />


    <style>
        .calender-container {
            background: #fff;
            padding: 10px;
        }

        .calender-panel .panel-body {
            padding: 0px 10px;
        }
    </style>
}

@section headscripts{

}

@section jsCode {
    angular.bootstrap(document.getElementById("calender"), ['calendarModule']);
}
<div class="panel colourable calender-panel">
    <div class="panel-heading">
        <span class="panel-title">Your Calender</span>
        <div class="panel-heading-controls">
            <button class="btn btn-xs btn-primary" id="export_model"><span class="fa fa-book"></span>&nbsp;&nbsp;Export Calender</button>
        </div> <!-- / .panel-heading-controls -->
    </div> <!-- / .panel-heading -->
    <div class="panel-body">
        <div id="calender" ng-app="calendarModule" ng-controller="calendarController">
            <div class="calender-container">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="scheduler_here" class="dhx_cal_container" style='width: 101%; height: 500px; margin-right: 5px'>
                            <div class="dhx_cal_navline">
                                <div class="dhx_cal_prev_button">&nbsp;</div>
                                <div class="dhx_cal_next_button">&nbsp;</div>
                                <div class="dhx_cal_today_button "></div>
                                <div class="dhx_cal_date"></div>
                                <div class="dhx_minical_icon" id="dhx_minical_icon" onclick=" show_minical() "></div>
                                <div class="dhx_cal_tab" name="day_tab" style="right: 204px;"></div>
                                <div class="dhx_cal_tab" name="week_tab" style="right: 140px;"></div>
                                <div class="dhx_cal_tab" name="month_tab" style="right: 76px;"></div>
                            </div>
                            <div class="dhx_cal_header"></div>
                            <div class="dhx_cal_data"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><strong>Export Wizard</strong></h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Format</label>
                            <div class="col-sm-3">
                                <select id="export_format" class="form-control"><option>A5</option><option selected="true">A4</option><option>A3</option><option>A2</option><option>A1</option><option>A0</option></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Orientation</label>
                            <div class="col-sm-5">
                                <select id="export_orient" class="form-control"><option>landscape</option><option>portrait</option></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Zoom</label>
                            <div class="col-sm-3">
                                <select id="export_zoom" class="form-control"><option>0.5</option><option>0.75</option><option selected="true">1</option><option>1.5</option><option>2</option></select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btn_export_pdf">Export PDF</button>
                    <button type="button" class="btn btn-primary" id="btn_export_png">Export PNG</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/dhtmlxScheduler/dhtmlxscheduler.js"></script>
    <script src="~/Scripts/dhtmlxScheduler/ext/dhtmlxscheduler_recurring.js"></script>
    <script src="~/Scripts/dhtmlxScheduler/ext/dhtmlxscheduler_minical.js"></script>
    <script src="https://export.dhtmlx.com/scheduler/api.js"></script>
    <script src="~/App/codestorm/calendar/model/calendar-meta.js"></script>
    <script src="~/App/codestorm/calendar/controllers/calendarController.js"></script>
    <script src="~/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker.js"></script>
    <link href="~/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker.css" rel="stylesheet" />


    <script>
        function moreoption(e) {
            alert(e.getAttribute("event_id"));
        }
        $(document).ready(function () {
            var e_id;
            var uid;
            var dataHelper = commonHelper();
            scheduler.config.include_end_by = true;
            scheduler.init('scheduler_here', new Date(), "month");
            scheduler.config.buttons_left = ["dhx_save_btn", "dhx_cancel_btn", "btn_more_options"];
            scheduler.locale.labels["btn_more_options"] = "Event Options";

            scheduler.attachEvent("onLightboxButton", function (button_id, node, e) {
                if (button_id == "btn_more_options") {
                    var ev = scheduler.getEvent(e_id);
                    window.location.href = "/calender/event?id=" + e_id;
                }
            });

            $('select[name="colorpicker"]').simplecolorpicker();

            scheduler.attachEvent("onLightbox", function (id) {
                e_id = id;
                var ev = scheduler.getEvent(e_id);
                if (scheduler._new_event)
                    $('.btn_more_options_set').hide();
                else
                    $('.btn_more_options_set').show();
            });

            //Load Existing Events
            dataHelper.getData('/EventsData/GetEvents', null,
                function (result) {
                    scheduler.parse(result, "json");
                });

            //Add new Event
            scheduler.attachEvent("onEventAdded", function (id, ev) {
                var dataHelper = commonHelper();
                var newEvent = {
                    id: ev.id,
                    start_date: ev.start_date,
                    end_date: ev.end_date,
                    text: ev.text,
                    rec_type: ev.rec_type,
                    event_length: ev.event_length,
                    event_pid: ev.event_pid,
                    color: '#FF0000',
                    userid: ""
                };
                dataHelper.postData('/EventsData/AddEvent', newEvent,
                function (result) {
                    if (ev.rec_type != "none")
                        window.location.href = "/calender/event?id=" + id;
                });
            });

            scheduler.attachEvent("onEventChanged", function (id, ev) {
                var dataHelper = commonHelper();
                var newEvent = {
                    id: ev.id,
                    start_date: ev.start_date,
                    end_date: ev.end_date,
                    text: ev.text,
                    rec_type: ev.rec_type,
                    event_length: ev.event_length,
                    event_pid: ev.event_pid,
                    color: "",
                    userid: ""
                };
                dataHelper.postData('/EventsData/UpdateEvent', newEvent,
                function (result) {
                });
            });

            scheduler.attachEvent("onEventDeleted", function (id) {
                // custom code
                var dataHelper = commonHelper();
                dataHelper.postData('/EventsData/RemoveEvent', { eventid: id },
                function (result) {
                });
            });
            function allow_own(id) {
                var ev = this.getEvent(id);
                return ev.userid == $.cookie("userid");
            }

            scheduler.attachEvent("onDblClick", allow_own);

            $('#btnGet').click(function () {
                $('select[name="colorpicker"]').simplecolorpicker();
            });

            $('#export_model').click(function () {
                //scheduler.exportToPDF();
                $('#myModal').modal();
                return false;
            });
            $('#btn_export_pdf').click(function () {
                $('#myModal').modal('toggle');
                var format = document.getElementById("export_format").value;
                var orient = document.getElementById("export_orient").value;
                var zoom = document.getElementById("export_zoom").value;                var head = $('.dhx_cal_date').text();
                scheduler.exportToPDF({
                    format:format,
                    orientation:orient,
                    zoom:zoom,
                    header: '<h3>' + head + '</h3>'
                });
            });
            $('#btn_export_png').click(function () {
                $('#myModal').modal('toggle');
                var format = document.getElementById("export_format").value;
                var orient = document.getElementById("export_orient").value;
                var zoom = document.getElementById("export_zoom").value;
                var head = $('.dhx_cal_date').text();
                scheduler.exportToPNG({
                    format: format,
                    orientation: orient,
                    zoom: zoom,
                    header: '<h3>'+head+'</h3>'
                });
            });
        });
        function show_minical() {
            if (scheduler.isCalendarVisible()) {
                scheduler.destroyCalendar();
            } else {
                scheduler.renderCalendar({
                    position: "dhx_minical_icon",
                    date: scheduler._date,
                    navigation: true,
                    handler: function (date, calendar) {
                        scheduler.setCurrentView(date);
                        scheduler.destroyCalendar();
                    }
                });
            }
        }

        scheduler.attachEvent("onBeforeViewChange", function (old_mode, old_date, mode, date) {
            $('.dhx_cal_header').css("left", "50px !important");
            $('.dhx_cal_header').css("margin-left", "1px");
            return true;
        });
    </script>
}


