@section styles{
    <link href="~/Scripts/dhtmlxScheduler/dhtmlxscheduler_custom.css" rel="stylesheet" />
    @*<link href="~/Scripts/dhtmlxScheduler/dhtmlxscheduler_flat.css" rel="stylesheet" />*@
    <link href="~/Content/Calender/calender.css" rel="stylesheet" />


    <style>
        .calender-container {
            background: #fff;
            padding: 10px;
            /*border: 2px solid #dcdcdc;
            border-radius: 5px;*/
        }

        .calender-panel .panel-body {
            padding: 0px 10px;
        }
    </style>
}

@section headscripts{

}

@section jsCode {
    angular.bootstrap(document.getElementById("calender"), ['calendarModule']);
}
<div class="panel colourable calender-panel">
    <div class="panel-heading">
        <span class="panel-title">Your Calender</span>
        <div class="panel-heading-controls">
            <button class="btn btn-xs btn-warning btn-outline"><span class="fa fa-refresh"></span>&nbsp;&nbsp;Export</button>
            <button class="btn btn-xs btn-danger btn-outline"><span class="fa fa-paperclip"></span></button>
            <div class="btn-group btn-group-xs">
                <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown"><span class="fa fa-cog"></span>&nbsp;<span class="fa fa-caret-down"></span></button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="" id="menu_export_pdf">Export to PDF</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Some header</li>
                    <li><a href="#">Separated link</a></li>
                </ul> <!-- / .dropdown-menu -->
            </div> <!-- / .btn-group -->
        </div> <!-- / .panel-heading-controls -->
    </div> <!-- / .panel-heading -->
    <div class="panel-body">
        <div id="calender" ng-app="calendarModule" ng-controller="calendarController">
            <div class="calender-container">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="scheduler_here" class="dhx_cal_container" style='width: 100%; height: 500px;'>
                            <div class="dhx_cal_navline">
                                <div class="dhx_cal_prev_button">&nbsp;</div>
                                <div class="dhx_cal_next_button">&nbsp;</div>
                                <div class="dhx_cal_today_button "></div>
                                <div class="dhx_cal_date"></div>
                                <div class="dhx_minical_icon" id="dhx_minical_icon" onclick=" show_minical() "></div>
                                <div class="dhx_cal_tab" name="day_tab" style="right: 204px;"></div>
                                <div class="dhx_cal_tab" name="week_tab" style="right: 140px;"></div>
                                <div class="dhx_cal_tab" name="month_tab" style="right: 76px;"></div>
                                </div>
                            <div class="dhx_cal_header"></div>
                            <div class="dhx_cal_data"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/dhtmlxScheduler/dhtmlxscheduler.js"></script>
    <script src="~/Scripts/dhtmlxScheduler/ext/dhtmlxscheduler_recurring.js"></script>
    <script src="~/Scripts/dhtmlxScheduler/ext/dhtmlxscheduler_minical.js"></script>
    <script src="https://export.dhtmlx.com/scheduler/api.js"></script>
    <script src="~/App/codestorm/calendar/model/calendar-meta.js"></script>
    <script src="~/App/codestorm/calendar/controllers/calendarController.js"></script>
    <script src="~/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker.js"></script>
    <link href="~/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker.css" rel="stylesheet" />


    <script>
        function moreoption(e) {
            alert(e.getAttribute("event_id"));
        }
        $(document).ready(function () {
            var e_id;
            var dataHelper = commonHelper();
            scheduler.config.include_end_by = true;
            scheduler.init('scheduler_here', new Date(), "month");
            scheduler.config.buttons_left = ["dhx_save_btn", "dhx_cancel_btn", "btn_more_options"];
            scheduler.locale.labels["btn_more_options"] = "Event Options";

            scheduler.attachEvent("onLightboxButton", function (button_id, node, e) {
                if (button_id == "btn_more_options") {
                    var ev = scheduler.getEvent(e_id);
                    window.location.href = "/calender/event?id=" + e_id;
                    //alert(JSON.stringify(ev));
                }
            });
            
            $('select[name="colorpicker"]').simplecolorpicker();
            
            scheduler.attachEvent("onLightbox", function (id) {
                e_id = id;
            });

            //Load Existing Events
            dataHelper.getData('/EventsData/GetEvents', null,
                function (result) {
                    scheduler.parse(result, "json");
                });

            //Add new Event
            scheduler.attachEvent("onEventAdded", function (id, ev) {
                var dataHelper = commonHelper();
                var newEvent = {
                    id: ev.id,
                    start_date: ev.start_date,
                    end_date: ev.end_date,
                    text: ev.text,
                    rec_type: ev.rec_type,
                    event_length: ev.event_length,
                    event_pid: ev.event_pid,
                    color: '#FF0000',
                    userid : ""
                };
                dataHelper.postData('/EventsData/AddEvent', newEvent,
                function (result) {
                    if (ev.rec_type != "none")
                        window.location.href = "/calender/event?id=" + id;
                    //dataHelper.replaceValue(scheduler.getEvents(), "id", ev.id, "id", result);
                });
            });


            //scheduler.attachEvent("onBeforeEventChanged", function (ev, e, is_new, original) {
            //    //var dataHelper = commonHelper();
            //    //var newEvent = {
            //    //    id: ev.id,
            //    //    start_date: ev.start_date,
            //    //    end_date: ev.end_date,
            //    //    text: ev.text,
            //    //    rec_type: ev.rec_type,
            //    //    event_length: ev.event_length,
            //    //    event_pid: ev.event_pid
            //    //};
            //    //dataHelper.postData('/EventsData/UpdateEvent', newEvent,
            //    //function (result) {

            //    //});
            //    //return true;
            //});

            //Delete Event
            //scheduler.attachEvent("onBeforeEventDelete", function (id, e) {
            //    var dataHelper = commonHelper();
            //    dataHelper.postData('/EventsData/RemoveEvent', {eventid : id},
            //    function (result) {
            //    });
            //    return true;
            //});

            scheduler.attachEvent("onEventChanged", function (id, ev) {
                //any custom logic here
                var dataHelper = commonHelper();
                var newEvent = {
                    id: ev.id,
                    start_date: ev.start_date,
                    end_date: ev.end_date,
                    text: ev.text,
                    rec_type: ev.rec_type,
                    event_length: ev.event_length,
                    event_pid: ev.event_pid,
                    color: "",
                    userid : ""
                };
                dataHelper.postData('/EventsData/UpdateEvent', newEvent,
                function (result) {
                });
            });

            scheduler.attachEvent("onEventDeleted", function (id) {
                // custom code
                var dataHelper = commonHelper();
                dataHelper.postData('/EventsData/RemoveEvent', { eventid: id },
                function (result) {
                });
            });
            function allow_own(id) {
                var ev = this.getEvent(id);
                return ev.userid == $.cookie("userid");
            }
            scheduler.attachEvent("onDblClick", allow_own);
            $('#btnGet').click(function () {
                $('select[name="colorpicker"]').simplecolorpicker();
            });

            $('.btn-warning').click(function () {
                scheduler.exportToPDF();
                return false;
            });
        });
        function show_minical() {
            if (scheduler.isCalendarVisible()) {
                scheduler.destroyCalendar();
            } else {
                scheduler.renderCalendar({
                    position: "dhx_minical_icon",
                    date: scheduler._date,
                    navigation: true,
                    handler: function (date, calendar) {
                        scheduler.setCurrentView(date);
                        scheduler.destroyCalendar();
                    }
                });
            }
        }


    </script>
}


