@{
    ViewBag.Title = "Inbox";
}

@section styles{
    <style>
        .ibox {
            clear: both;
            margin-bottom: 25px;
            margin-top: 0;
            padding: 0;
        }

        .ibox-content {
            clear: both;
        }

        .ibox-content {
            background-color: #ffffff;
            color: inherit;
            padding: 15px 20px 20px 20px;
            border-color: #e7eaec;
            border-image: none;
            border-style: solid solid none;
            border-width: 1px 0px;
        }

        .chat-element:first-child {
            margin-top: 0;
        }

        .chat-activity-list {
            padding-right: 15px;
        }

            .chat-activity-list .chat-element {
                border-bottom: 1px solid #e7eaec;
            }

        .chat-form {
            margin-top: 15px;
        }

        .chat-element, .media-body {
            overflow: hidden;
        }

        .chat-element {
            padding-bottom: 15px;
        }

            .chat-element, .chat-element .media {
                margin-top: 15px;
            }

        .right.chat-element > .pull-right {
            margin-left: 10px;
        }

        .chat-element img.img-circle, .dropdown-messages-box img.img-circle {
            width: 38px;
            height: 38px;
        }

        .chat-element .pull-left img {
            margin-right: 10px;
        }

        .img-circle {
            border-radius: 50%;
        }

        .feed-element, .media-body {
            overflow: hidden;
        }

        .sidebard-panel .feed-element, .media-body, .sidebard-panel p {
            font-size: 12px;
        }

        .media-body {
            display: block;
            width: auto;
        }

        .m-b-xs {
            margin-bottom: 5px;
        }

        .text-muted {
            color: #888888;
        }

        .text-navy {
            color: #1ab394;
        }

        .thread {
            cursor: pointer;
        }

            .thread:hover {
                background: #f3f3f4;
            }

        .widget-threads .thread:first-child {
            padding-top: 15px !important;
            border-top: 1px solid #DFDFDF;
        }

        .widget-threads .thread:last-child {
            padding-bottom: 15px !important;
            border-bottom: 1px solid #DFDFDF;
        }

        #newMessageModal .modal-dialog {
            width: 500px;
        }

        .select2-result-label img {
            width: 30px;
        }

        .msg-controls {
            padding-bottom: 10px;
        }

        .thread-body .thread-time {
            font-size: 10px !important;
        }

        .conv-container {
            padding-right: 0 !important;
        }

        .conv-chat {
            padding-left: 0 !important;
        }

        .thread-title {
            font-size: 12px !important;
        }
        .widget-chat {
            padding-top: 15px;
        }
    </style>

}

@section jsCode {
    angular.bootstrap(document.getElementById("conversation_container"), ['messagesModule']);
}

<div ng-app="messagesModule" id="conversation_container" ng-controller="messagesController">
    <div class="row">
        <div class="col-lg-12 msg-controls">
            <button class="btn btn-xs btn-labeled btn-primary" id="btnNewMessage"><span class="btn-label icon fa fa-envelope-o"></span>New Message</button>
        </div>
    </div>
    <div class="row">

        <div class="col-lg-3 conv-container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-info widget-threads" id="conversation-list">
                        <div class="panel-body">
                            <!-- / message panel-body -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-6 conv-chat">
            <input type="hidden" id="current_conv_id" />
            <div class="panel widget-chat">
                <div class="panel-body">
                    <!-- / message panel-body -->
                </div>
                <form class="panel-footer chat-controls">
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Message" id="chat_message"></textarea>
                    </div>
                    <div class="text-right">
                        <button type="button" class="btn btn-sm btn-primary m-t-n-xs" id="btnSendMessage"><strong>Send message</strong></button>
                    </div>
                </form> <!-- / .panel-footer -->
            </div>
        </div>

    </div>


    <div class="modal fade" id="newMessageModal" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    @*<h4 class="modal-title" id="myModalLabel">New Message</h4>*@
                    <a href="#" class="badge badge-primary">New Message</a>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="inputEmail2" class="col-sm-2 control-label">To</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="message_name_list" class="form-control select2-offscreen" tabindex="-1">
                                    </div>
                                </div> <!-- / .form-group -->
                                <div class="form-group">
                                    <label for="asdasdas" class="col-sm-2 control-label">Message</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" rows="4" id="txtModalMessage"></textarea>
                                    </div>
                                </div> <!-- / .form-group -->
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                    <input type="button" class="btn btn-primary btn-sm" value="Send Message" id="model_SendMessage" ng-click="sendModelMessage()" />
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/plugins/moment/moment.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(document).ready(function () {
            getConversationlist();
            $('.widget-chat .panel-body').slimScroll({ height: 372, alwaysVisible: false, color: '#888', allowPageScroll: true, start: 'bottom' });
        });

        function getConversationlist() {
            var dataHelper = commonHelper();
            dataHelper.getData('/MessageData/GetConversationList', null,
                function (result) {
                    $.each(result, function (i, msg) {
                        addConversation(msg);
                    });
                });
            $("time.timeago").timeago();
            $('#conversation-list .panel-body').slimScroll({ height: 498, alwaysVisible: false, color: '#888', allowPageScroll: true });
        }

        function addConversation(c) {
            var $conv = '<div class="thread" data-conv="' + c.convid + '">' +
                '<img src="/ImageBase/Users/' + c.imgurl + '" alt="" class="thread-avatar">' +
                '<div class="thread-body">' +
                '<time class="timeago thread-time" datetime="' + c.time + '">' + c.time + '</time>' +
                '<a class="thread-title">' + c.fullname + '</a>' +
                '<div class="thread-info">' + c.message + '</div>' +
                '</div>' +
                '</div>';
            $('#conversation-list .panel-body').append($conv);
            $("time.timeago").timeago();
            $('#conversation-list .panel-body').slimScroll({ height: 450, alwaysVisible: false, color: '#888', allowPageScroll: true });

        }

        function addChatMessageLeft(c) {
            var $msg = '<div class="message">' +
                '<img src="/ImageBase/Users/' + c.imgurl + '" alt="" class="message-avatar">' +
                '<div class="message-body">' +
                '<div class="message-heading">' +
                '<a href="#" title="">' + c.fullname + '</a> says:' +
                '<time class="timeago pull-right" datetime="' + c.time + '">' + c.time + '</time>' +
                '</div>' +
                '<div class="message-text">' +
                c.message +
                '</div>' +
                '</div>' +
                '</div>';
            $('.widget-chat .panel-body').append($msg);
            $("time.timeago").timeago();
            var chatheight = $('.widget-chat .panel-body').prop('scrollHeight') + 'px';
            $('.widget-chat .panel-body').slimScroll({ height: 397, scrollTo: chatheight });
        }

        function addChatMessageRight(c) {
            var $msg = '<div class="message right">' +
                '<img src="/ImageBase/Users/' + c.imgurl + '" alt="" class="message-avatar">' +
                '<div class="message-body">' +
                '<div class="message-heading">' +
                '<a href="#" title="">' + c.fullname + '</a> says:' +
                '<time class="timeago pull-right" datetime="' + c.time + '">' + c.time + '</time>' +
                '</div>' +
                '<div class="message-text">' +
                c.message +
                '</div>' +
                '</div>' +
                '</div>';
            $('.widget-chat .panel-body').append($msg);
            $("time.timeago").timeago();
            var chatheight = $('.widget-chat .panel-body').prop('scrollHeight') + 'px';
            $('.widget-chat .panel-body').slimScroll({ height: 397, scrollTo: chatheight });
        }

        function loadConversation(convid) {
            $('#current_conv_id').val(convid);
            var dataHelper = commonHelper();
            dataHelper.getData('/MessageData/GetConversation', { conversation: convid },
                function (result) {
                    $.each(result, function (i, msg) {
                        if (msg.self)
                            addChatMessageLeft(msg);

                        else
                            addChatMessageRight(msg);
                    });
                });
            $("time.timeago").timeago();
            $('.widget-chat .panel-body').slimScroll({ height: 397, alwaysVisible: false, color: '#888', allowPageScroll: true, start: bottom });
            var chatheight = $('.widget-chat .panel-body').prop('scrollHeight') + 'px';
            $('.widget-chat .panel-body').slimScroll({ height: 397, scrollTo: chatheight });
        }

        $('#conversation_container').on('click', '.thread', function () {
            $('.thread').css("background-color", "#fff");
            $(this).css("background-color", "rgb(214, 233, 238)");
            $('.widget-chat .panel-body').empty();
            loadConversation($(this).data("conv"));
        });

        $(function () {
            var chat = $.connection.messageHub;
            chat.client.addChatMessage = function (name, message, imgurl, self) {
                var msg = { messageid: '0', fullname: name, message: message, imgurl: imgurl, time: moment().format(), self: self };
                if (msg.self)
                    addChatMessageLeft(msg);

                else
                    addChatMessageRight(msg);
            };

            $.connection.hub.start().done(function () {
                $('#btnSendMessage').click(function () {
                    chat.server.send($('#current_conv_id').val(), $('#chat_message').val());
                    chat.server.send($.cookie('userid'), $('#chat_message').val());
                    $('#chat_message').val('');
                });
            });


        });
    </script>
    <script src="~/App/codestorm/messages/model/messages-meta.js"></script>
    <script src="~/App/codestorm/messages/controllers/messagesController.js"></script>

    <script>
        //$('.chat-activity-list').slimScroll({ height: 300, start: 'bottom' });
        //$('#conversation-list .panel-body').slimScroll({ height: 450, alwaysVisible: false, color: '#888', allowPageScroll: true });
        var receiver = $('#receiver').val();

        function nameFormatResult(name) {
            var $state = $(
                '<span><img src="/ImageBase/Users/' + name.imgurl + '" class="img-flag" /> ' + name.text + '</span>'
            );
            return $state;
        }

        $(document).ready(function () {
            $("time.timeago").timeago();

        });

        $('#btnNewMessage').click(function () {
            $("#message_name_list").select2("val", "");
            var dataHelper = commonHelper();
            var userlist = null;
            dataHelper.getData('/UserData/GetAutoCompleteUserList', null,
                function (result) {
                    userlist = result;
                    $("#message_name_list").select2({
                        data: userlist,
                        formatResult: nameFormatResult,
                        placeholder: "Enter a name",
                        allowClear: true
                    });
                    $('#newMessageModal').modal();
                });

        });
        $('#model_SendMessage').click(function () {
            var user = $("#message_name_list").select2("data");
            var msg = $('#txtModalMessage').val();
            var dataHelper = commonHelper();
            var message = { messageid: "0", message: msg, sender: null, receiver: user.id };
            dataHelper.postAsyncData('/MessageData/SendUserMessage', message,
                function (result) {
                    $("#message_name_list").select2("val", "");
                    $('#txtModalMessage').val("");
                    $('#conversation-list .panel-body').empty();
                    getConversationlist();
                    $('#newMessageModal').modal('toggle');
                });
        });
    </script>

}


