@section styles{
    <link href="~/Scripts/dhtmlxScheduler/dhtmlxscheduler_custom.css" rel="stylesheet" />
    <link href="~/Content/Calender/calender.css" rel="stylesheet" />

    <style>
        #map {
            width: 100%;
            height: 255px;
            border: 4px solid #67c5f5;
        }

        .page-header .user-sal {
            padding-left: 20px;
            font-size: 18px;
            color: #868686;
        }

        .widget-notifications .notification-icon {
            margin-right: 20px;
        }

        .widget-notifications .notification-title {
            font-size: 14px;
            font-family: 'arial';
            text-transform: uppercase;
        }

        .dash_event {
            cursor: pointer;
        }

        .panel-heading-controls .input-group .btn {
            height: 32px;
        }

        .panel-event-search .panel-heading {
            padding-bottom: 15px;
        }

        .panel-event-search .panel-heading-controls .input-group .form-control {
            padding: 0;
        }

        .panel-heading .panel-heading-controls > .btn {
            margin-top: 0px;
        }

        .panel-search-controls {
            width: 250px;
        }

        .widget-comments .comment-avatar {
            border-radius: 0;
        }

        .event-search-body .help-block {
            margin-top: 0px;
        }

        .event_title {
            color: #7C1723;
            font-family: 'Calibri';
            font-size: 14px;
            font-weight: bold;
        }
        .widget-comments .comment-text {
            padding-top: 0;
        }
    </style>
}


@section headscripts{
    ViewBag.Title = "Home";
}

@section jsCode {
    angular.bootstrap(document.getElementById("dashboard"), ['dashboardModule']);
}

<div id="dashboard" ng-app="dashboardModule" ng-controller="dashboardController">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel colourable panel-event-search widget-comments">
                <div class="panel-heading">
                    <span class="panel-title">Search Event</span>
                    <div class="panel-heading-controls">
                        <div class="panel-search-controls">
                            <input type="text" class="form-control" placeholder="Search..." name="s" id="txt_home_eventsearch">
                        </div>
                        <button class="btn btn-labeled btn-primary" id="btn_event_search"><span class="btn-label icon fa fa-search"></span>Search</button>
                    </div> <!-- / .panel-heading-controls -->
                </div> <!-- / .panel-heading -->
                <div class="panel-body event-search-body">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="panel panel-theme widget-notifications">
                                <div class="panel-heading">
                                    <span class="panel-title">Upcoming Events</span>
                                </div>
                                <div class="panel-body padding-sm">
                                    <div class="notifications-list" id="eventsTable">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div id="map"></div>
                        </div>
                        <div class="col-lg-3">
                            <div id="mini_here" style="width: 100%"></div>
                            <div id="scheduler_here" class="dhx_cal_container" style='width: 300px; height: 300px; display: none;'>
                                <div class="dhx_cal_navline">
                                    <div class="dhx_cal_date"></div>
                                    <div class="dhx_cal_tab" name="day_tab" style="right: 76px;"></div>
                                </div>
                                <div class="dhx_cal_header">
                                </div>
                                <div class="dhx_cal_data">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts{
    <script src="~/plugins/jquery-dateFormat/jquery-dateFormat.min.js"></script>
    <script src="~/App/codestorm/dashboard/model/dashboard-meta.js"></script>
    <script src="~/App/codestorm/dashboard/controllers/dashboard-controller.js"></script>
    <script src="~/Scripts/dhtmlxScheduler/dhtmlxscheduler_custom.js"></script>
    <script src="~/Scripts/dhtmlxScheduler/ext/dhtmlxscheduler_minical_custom.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script type="text/javascript" charset="utf-8">
        function init() {
            var dataHelper = commonHelper();
            scheduler.config.include_end_by = true;
            scheduler.init('scheduler_here', new Date(), "month");
            dataHelper.getData('/EventsData/GetEvents', null,
                function (result) {
                    scheduler.parse(result, "json");
                    scheduler.renderCalendar({
                        container: "mini_here",
                        date: scheduler._date,
                        navigation: true,
                        handler: function (date, calendar) {
                        }
                    });
                    $('#eventsTable').empty();
                    var evs = scheduler.getEvents(new Date(), new Date(9999, 1, 1));
                    evs.sort(function (a, b) { return (a.start_date > b.start_date ? 1 : -1); });
                    $.each(evs, function (i, e) {
                        addRecentEvent(e);
                    });
                });


        }
        var getEventLocation = function (eid) {
            event.preventDefault();
            var dataHelper = commonHelper();
            dataHelper.getData('/EventsData/GetEventLocation', { eventid: eid },
                function (result) {
                    //alert(JSON.stringify(result));
                    var location = result;
                    setMapLocation(location.latitude, location.longitude);
                });
        }

        var searchEvent = function (eid) {
            var dataHelper = commonHelper();
            dataHelper.getData('/EventsData/GetSearchEventResult', { eventid: eid },
                function (result) {
                    var event = result;
                    addSearchEvent(event);
                });
        }
        var addRecentEvent = function (event) {
            var element = '<div class="notification">' +
                                        '<div class="dash_event" onclick="getEventLocation(' + event.id + ')">' +
                                            '<div class="notification-title text-default" style="color:' + event.color + '">' + event.text + '</div>' +
                                            '<div class="notification-description" style="color:' + event.color + '">' + $.format.date(event.start_date, "dd-MM-yyyy") + ' to ' + $.format.date(event.end_date, "dd-MM-yyyy") + '</div>' +
                                            '<div class="notification-description" style="color:' + event.color + '">' + $.format.date(event.start_date, "hh:mm p") + ' - ' + $.format.date(event.end_date, "hh:mm p") + '</div>' +
                                            '<div class="notification-icon fa fa-clock-o" style="background:' + event.color + ';color:#fff"></div>' +
                                        '</div>' +
                            '</div>';
            $('#eventsTable').append(element);
        }

        $('#btn_event_search').click(function () {
            var id = $('#txt_home_eventsearch').val();
            if (id != "")
                searchEvent(id);
        });

        var addSearchEvent = function (event) {
            $('.event-search-body').empty();
            var element = '<div class="comment">' +
                '<img src="/assets/images/new-event.png" alt="" class="comment-avatar">' +
                '<div class="comment-body">' +
                '<div class="comment-by">' +
                '<a class="event_title">' + (event.text == null ? "" : event.text) + '</a>' +
                '</div>' +
                '<div class="comment-text">' +
                '<span class="help-block text-sm">' + (event.description == null ? "" : event.description) + '</span>' +
                event.startdate + ' to ' + event.enddate + ' ( ' + event.starttime + ' - ' + event.endtime + ' )' +
                '</div>' +
                '<div class="comment-actions">' +
                '<a href="" onclick="getEventLocation(' + event.id + ')"><i class="fa fa-map-marker"></i>View Location</a>' +
                '</div>' +
                '</div>' +
                '</div>';
            $('.event-search-body').append(element);
        }

        $('#btn_recent_events').click(function () {
            $('#eventsTable').empty();
            var evs = scheduler.getEvents(new Date(), new Date(9999, 1, 1));
            evs.sort(function (a, b) { return (a.start_date > b.start_date ? 1 : -1); });
            $.each(evs, function (i, e) {
                addRecentEvent(e);
            });
        });

        $(document).ready(function () {
            init();
            $('#txt_home_eventsearch').on("change", function (e) {
                var id = $('#txt_navbar_search').val();
                if (id == "")
                    $('.event-search-body').empty();
            });
            initialize();
        });

        $('#eventsTable').slimScroll({ height: 192, touchScrollStep: 400 });
        $('.event-search-body').slimScroll({ height: 120, touchScrollStep: 400 });

        //region -- google map integration
        function setGeoLocation(pos) {
            $('#txt_location').val('');
            $('#txt_map_lat').val(pos.lat());
            $('#txt_map_lng').val(pos.lng());
        }

        

        var map;
        var marker;

        function initialize() {
            var location = new google.maps.LatLng(53.307261999999990000, -6.219076999999970000);
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                mapTypeId: google.maps.MapTypeId.HYBRID,
                center: location
            });
        }

        function setMapLocation(lat, lng) {
            var location;
            if (isNaN(lat) || isNaN(lng) || lat == null || lng == null || lat == 0 || lng == 0) {
                initialize();
                return;
            }
            else
                location = new google.maps.LatLng(lat, lng);

            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 17,
                mapTypeId: google.maps.MapTypeId.HYBRID,
                center: location
            });
            marker = new google.maps.Marker({
                position: location,
                map: map,
                title: 'location'
            });
        }

        var input = document.getElementById('txt_location');
        var autocomplete = new google.maps.places.Autocomplete(input);

        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var place = autocomplete.getPlace();
            setMapLocation(place.geometry.location.lat(), place.geometry.location.lng());
            $('#txt_map_lat').val(place.geometry.location.lat());
            $('#txt_map_lng').val(place.geometry.location.lng());
        });
    </script>
}

