@section styles{

    <style>
        .page-profile-edit .list-group {
        }

        .pic-upload-success .alert {
            padding: 5px 15px;
        }
    </style>
}

@section headscripts{

}

@section jsCode {
    angular.bootstrap(document.getElementById("user_profile_edit_container"), ['userProfileModule']);
}

<div class="page-profile-edit" id="user_profile_edit_container" ng-app="userProfileModule" ng-controller="profilePictureController">
    <div class="row">
        <div class="col-sm-3">
            <div class="list-group">
                <a href="/profile" class="list-group-item active">
                    Profile Picture
                </a>
                <a href="/profile/general" class="list-group-item">
                    General Details
                </a>
                <a href="/profile/social" class="list-group-item">
                    Other
                </a>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="panel colourable">
                <div class="panel-body">

                    <form action="#" role="form" id="pic_form">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <p>
                                    Please upload a profile picture to shown in your account. The photo which you will upload , will be able to seen by any CodeStorm user.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <div class="fileinput-new thumbnail" style="max-width: 200px">
                                        <img src="/ImageBase/Users/blank_photo.png" alt="" id="profile_photo" style="display: none" />
                                        <img src="/ImageBase/Users/{{user_pic}}" alt="" id="profile_blank_photo" />
                                    </div>
                                    <div style="padding-bottom: 20px;">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <input type="file" id="styled-finputs-example" data-ak-file-model="picture.attachment">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix margin-top-10">
                                    <span class="label label-danger">NOTE! </span>
                                    <span>Recomended size is 200px X 200px and file size should be less than 500KB</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <div class="pic-upload-progress" style="display:none">
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar" style="width: 100%;"></div>
                                    </div>
                                    <span class="help-block">Upload in progress please wait...</span>
                                </div>
                                <div class="pic-upload-success" style="display:none">
                                    <div class="alert alert-success alert-dark">
                                        successfuly uploaded
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    <input type="button" class="btn btn-primary btn-sm" value="Save Picture" ng-click="savePicture(picture)" />
                </div>
            </div>

        </div>
    </div>

</div>


@section scripts{
    <script src="~/App/codestorm/user-profile/model/profile-meta.js"></script>
    <script src="~/App/codestorm/user-profile/controllers/profilePictureController.js"></script>
    <script>
        $(document).ready(function () {
            $('#styled-finputs-example').pixelFileInput({ placeholder: 'No file selected...' });
            $('#styled-finputs-example').on('change', function () {
                if (this.files && this.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#profile_photo').show();
                        $('#profile_photo').attr('src', e.target.result);
                        $('#profile_blank_photo').hide();
                    }

                    reader.readAsDataURL(this.files[0]);
                } else {
                    $('#profile_photo').hide();
                    $('#profile_blank_photo').show();
                }
            });
            $('.pfi-actions .pfi-clear').click(function () {
                $('#profile_photo').hide();
                $('#profile_blank_photo').show();
            });
        });
        $('.page-profile-edit .list-group .list-group-item').click(function () {
            $(this).siblings().removeClass('active');
            $(this).addClass('active');
        });
    </script>
}
