<div class="form-horizontal" id="uidemo-tabs-default-demo-profile">
    <div class="form-group">
        <label class="col-sm-2 control-label">First Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="First Name">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Last Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="Last Name">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Gender</label>
        <div class="col-sm-6">
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" class="px" checked="">
                    <span class="lbl">Male</span>
                </label>
            </div> <!-- / .radio -->
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" class="px">
                    <span class="lbl">Female</span>
                </label>
            </div> <!-- / .radio -->
        </div> <!-- / .col-sm-10 -->
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">DOB</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="txt_dob">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Location</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="Location">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Mobile</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Mobile">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Profession</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" placeholder="Profession">
        </div>
    </div>
</div>