@section styles{
    <link href="~/Scripts/dhtmlxScheduler/dhtmlxscheduler.css" rel="stylesheet" />
    @*<link href="~/Scripts/dhtmlxScheduler/dhtmlxscheduler_flat.css" rel="stylesheet" />*@
    <link href="~/Content/Calender/calender.css" rel="stylesheet" />


    <style>
        .calender-container {
            background: #fff;
            padding: 10px;
            border: 2px solid #dcdcdc;
            border-radius: 5px;
        }
    </style>
}

@section jsCode {
    angular.bootstrap(document.getElementById("calender"), ['calendarModule']);
}

@section headscripts{

}

<div id="calender" ng-app="calendarModule" ng-controller="calendarController">
    <div class="calender-container">
        <div class="row">
            <div class="col-xs-12">
                <div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:500px;'>
                    <div class="dhx_cal_navline">
                        <div class="dhx_cal_prev_button">&nbsp;</div>
                        <div class="dhx_cal_next_button">&nbsp;</div>
                        <div class="dhx_cal_today_button"></div>
                        <div class="dhx_cal_date"></div>
                        <div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
                        <div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>
                        <div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div>
                    </div>
                    <div class="dhx_cal_header"></div>
                    <div class="dhx_cal_data"></div>
                </div>
            </div>
        </div>
    </div>
    <input type="button" id="btnGet" value="SHOW" />
</div>
@section scripts{
    <script src="~/Scripts/dhtmlxScheduler/dhtmlxscheduler.js"></script>
    <script src="~/Scripts/dhtmlxScheduler/ext/dhtmlxscheduler_recurring.js"></script>
    <script src="~/App/codestorm/calendar/model/calendar-meta.js"></script>
    <script src="~/App/codestorm/calendar/controllers/calendarController.js"></script>
    <script src="~/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker.js"></script>
    <link href="~/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker.css" rel="stylesheet" />


    <script>

        $(document).ready(function () {

            var dataHelper = commonHelper();
            scheduler.config.include_end_by = true;
            scheduler.init('scheduler_here', new Date(), "month");


            $('select[name="colorpicker"]').simplecolorpicker();
            scheduler.attachEvent("onBeforeLightbox", function (id) {
                //$('select[name="colorpicker"]').simplecolorpicker();
                $('#colorpicker').on('change', function () {
                    alert(); // or $(this).val()
                });
                return true;
            });

            //Load Existing Events
            dataHelper.getData('/EventsData/GetEvents', null,
                function (result) {
                    scheduler.parse(result, "json");
                });


            //Add new Event
            scheduler.attachEvent("onEventAdded", function (id, ev) {
                var dataHelper = commonHelper();
                var newEvent = {
                    id: ev.id,
                    start_date: ev.start_date,
                    end_date: ev.end_date,
                    text: ev.text,
                    rec_type: ev.rec_type,
                    event_length: ev.event_length,
                    event_pid: ev.event_pid,
                    color: '#FF0000'
                };
                dataHelper.postData('/EventsData/AddEvent', newEvent,
                function (result) {
                    //dataHelper.replaceValue(scheduler.getEvents(), "id", ev.id, "id", result);
                });
            });


            //scheduler.attachEvent("onBeforeEventChanged", function (ev, e, is_new, original) {
            //    //var dataHelper = commonHelper();
            //    //var newEvent = {
            //    //    id: ev.id,
            //    //    start_date: ev.start_date,
            //    //    end_date: ev.end_date,
            //    //    text: ev.text,
            //    //    rec_type: ev.rec_type,
            //    //    event_length: ev.event_length,
            //    //    event_pid: ev.event_pid
            //    //};
            //    //dataHelper.postData('/EventsData/UpdateEvent', newEvent,
            //    //function (result) {

            //    //});
            //    //return true;
            //});

            //Delete Event
            //scheduler.attachEvent("onBeforeEventDelete", function (id, e) {
            //    var dataHelper = commonHelper();
            //    dataHelper.postData('/EventsData/RemoveEvent', {eventid : id},
            //    function (result) {
            //    });
            //    return true;
            //});

            scheduler.attachEvent("onEventChanged", function (id, ev) {
                //any custom logic here
                var dataHelper = commonHelper();
                var newEvent = {
                    id: ev.id,
                    start_date: ev.start_date,
                    end_date: ev.end_date,
                    text: ev.text,
                    rec_type: ev.rec_type,
                    event_length: ev.event_length,
                    event_pid: ev.event_pid,
                    color: ""
                };
                dataHelper.postData('/EventsData/UpdateEvent', newEvent,
                function (result) {
                });
            });

            scheduler.attachEvent("onEventDeleted", function (id) {
                // custom code
                var dataHelper = commonHelper();
                dataHelper.postData('/EventsData/RemoveEvent', { eventid: id },
                function (result) {
                });
            });

            //scheduler.attachEvent("onClick", function (id, e) {
            //    alert(JSON.stringify(e));
            //    return true;
            //});
            $('#btnGet').click(function () {
                $('select[name="colorpicker"]').simplecolorpicker();
            });


        });

    </script>
}


