@section styles{

}

@section headscripts{

}

<div ng-app="">
    
</div>

@section scripts{
    
<script src="~/App/codestorm/events/model/events-meta.js"></script>
<script src="~/App/codestorm/events/controllers/eventsController.js"></script>
}

