@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Autocomplete</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
    
    <style>
        .container {
            margin-top: 30px;
        }
    </style>
</head>
<body>

    <div class="container">
        <select class="js-example-data-array form-control"></select>
    </div>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/PixelAdmin/pixel-admin.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
<script>
    function formatState(state) {
        if (!state.id) { return state.text; }
        var $state = $(
          '<span><img src="vendor/images/flags/' + state.element.value.toLowerCase() + '.png" class="img-flag" /> ' + state.text + '</span>'
        );
        return $state;
    };
    $(document).ready(function () {
        $(".js-example-data-array").select2({
        });
    });
</script>
</body>
</html>
