.login-box, .register-box {
    margin: 6% auto !important;
}

.login-submit {
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-box-body, .register-box-body {
    
}

.login-logo {
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 8px;
    background: #616161;
}


input[type="text"].error, input[type="email"].error, input[type="password"].error {
    border: 1px solid #ff4d4d !important;
}

label.error {
    color: #ff4d4d;
    font-weight: normal;
    font-size: 13px;
}

.signin-text {
color: #777;
display: block;
font-size: 14px;
font-style: italic;
margin-bottom: 15px;
position: relative;
text-align: center !important;
}

.signin-text span {
background: #fff;
display: inline-block;
padding: 0 20px;
position: relative;
}

.signin-text:before {
background: #e4e4e4;
content: "";
display: block;
height: 1px;
left: 0;
position: absolute;
right: 0;
top: 50%;
}

a.forgot-password {
border-bottom: 1px dashed #bbb;
color: #999;
display: inline-block;
font-size: 13px;
margin-left: 10px;
padding-bottom: 1px;
}


.social-icons li .facebook {
background: url(/img/social/facebook.png) no-repeat;
background-position: 0 -38px;
}

.social-icons li .twitter {
background: url(../img/social/twitter.png) no-repeat;
background-position: 0 -38px;
}

.social-icons li .googleplus {
background: url(../img/social/googleplus.png) no-repeat;
background-position: 0 -38px;
}

.social-icons li .linkedin {
background: url(../img/social/linkedin.png) no-repeat;
background-position: 0 -38px;
}

.social-icons {
    text-align: left;
    margin-bottom: 0px;
    padding-left: 0;
}

.social-icons li {
display: inline-block;
list-style: none;
margin-right: 5px;
margin-bottom: 5px;
text-indent: -9999px;
}

.social-icons li > a {
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
-ms-border-radius: 0px;
-o-border-radius: 0px;
border-radius: 0px;
width: 28px;
height: 28px;
display: block;
background-repeat: no-repeat;
}


.login-options {
    background: #fff;
    padding-top: 15px;
    text-align: center;
}

.social-login-text {
    color: #777;
    font-size: 15px;
    font-style: italic;
    float: left;
    margin: 10px 0 0 0;
}

.login-register {
    background: #6c7a8d;
}

.create-account {
    padding-top: 10px;
    border-top: 1px solid #e2e2e2;
    text-align: center;
}

.login-box {
    width: 330px;
}

@media (max-width: 768px) {
  .login-box {
    width: 90%;
    margin-top: 20px;
  }
}